@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: rgb(1, 81, 134);
    --primary-100: rgb(182, 183, 183);
    --primary-200: rgb(41, 126, 129);
    --primary-300: rgb(190, 129, 93);
    --primary-400: rgb(18, 31, 39);
    --background: rgb(1, 81, 134);
    --background-100: rgb(32, 34, 32);
    --background-200: rgb(187, 185, 185);
    --font-xs: 10px;
    --font-sm: 12px;

}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    margin: 0;
    padding: 0;
}



#app {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'sidebar content';
    height: 100vh;
    background-color: var(--background);
    color: aliceblue;
    
}
button {
    padding: 8px 15px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    background-color: rgb(87, 87, 131);
    color: white;
    border-radius: 100px;
    border: none;
}

/* Sidebar */

#sidebar {
    background-color: var(--primary-100);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
   
}
#nav-buttons li:hover {
    background-color: var(--primary);
    color: brown;
}

header {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-buttons li {
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--background-100);
    border-radius: 10px;
}

#content {
    
}

.project-card{
    background-color: var(--background-100);
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

.project-card:hover {
    outline: 2px solid var(--primary)
}

.card-header {
    display: flex;
    column-gap: 20px;
    padding: 15px 20px;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid #3d3c3f;
    height: 60px;
}

.card-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;

}
.card-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h2 {
    font-size: var(--font-sm);
    display: flex;
    align-items: center;
    gap: 5px;
}

h3 {
    font-size: var(--font-xs);
    
}

#projects-list {
    display: grid;
    grid-template-columns:
    repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px 40px;

}

form {
    width: 450px;
    border-radius: 10px;
    background-color: var(--background-100);
    color: white;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;

}

form h2 {
    padding: 20px;
    border-bottom: 2px solid var(--background-100);

}

form .input-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 25px;
}

form .form-field-container {
    display: flex;
    flex-direction: column;
}

dialog {
    background-color: transparent;
    border: none;
    margin: auto;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

input, textarea, select {
    color: white;
    background-color: var(--background-200);
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: var(--font-sm);
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid var(--primary);
}

.hint {
    color: grey;
    font-style: italic;

}

label {
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Project Details page */

.dashboard-card {
    background-color: var(--background-100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#project-details > .main-page-content {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: 475px 1fr;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-secondary {
    background-color: transparent;
    outline: 2px solid #969696;
    width: 100px;
    text-align: -webkit-center;
}

.btn-secondary:hover {
    background-color: var(--primary);
    outline: none;
}

.todo-item{
    padding: 20px;
    background-color: var(--background-200);
    border-radius: 10px;
    cursor: pointer;
}

.todo-item:hover {
    background-color: var(--primary);
}

.todo-item.pending {
    background-color: rgb(155, 16, 20);
}

.todo-item.in-progress {
    background-color: rgb(23, 72, 88);
}

.todo-item.completed {
    background-color: rgb(31, 148, 31);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 15px;
	position: absolute;
	right: 3px;
	text-align: center;
	top: 3px;
	text-decoration: none;
	font-weight: bold;
}

.initials {
    padding: 10px;
    border-radius: 8px;
    aspect-ratio: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white; /* Ensure text is visible on any background */
    text-transform: uppercase;
}

.color-1 {
    background-color: #FF5733; /* Vibrant Orange */
}

.color-2 {
    background-color: #33FF57; /* Vibrant Green */
}

.color-3 {
    background-color: #3357FF; /* Vibrant Blue */
}

.color-4 {
    background-color: #FF33A8; /* Vibrant Pink */
}

.color-5 {
    background-color: #FFC733; /* Vibrant Yellow */
}

.color-6 {
    background-color: #8A33FF; /* Vibrant Purple */
}

